@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  /* .btn {
    @apply bg-blue-500 text-white font-bold py-2 px-4 rounded;
  } */
  .nav-link{
    @apply mx-2 hidden md:block underline hover:text-blue-400 hover:no-underline;
  }
  .nav-link-active{
    @apply mx-2 hidden md:flex underline hover:text-blue-400 hover:no-underline;
  }
  .h-10viewport{
    height: 10vh;
  }
  .h-90viewport{
    height: 90vh;
  }
  .text-important{
    @apply font-semibold text-gray-500;
  }

  .icon-link{
    @apply w-8 transition-transform hover:scale-125 duration-300 ease-in-out;
  }

  .wave{
    animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
    animation-delay: 5s;
    -webkit-animation-delay: 3s;
    -moz-animation-delay: 3s;
    -ms-animation-delay: 3s;
    -o-animation-delay: 3s;
    animation-duration: 2.5s;        /* Change to speed up or slow down */
    animation-iteration-count: infinite;  /* Never stop waving :) */
    transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
    display: inline-block;
  }

  .project-item-container{
    @apply bg-gray-100 rounded-lg p-2 shadow-lg;
  }

  .iQiiWt {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 3rem;
    place-items: center;
    gap: 3rem 2rem;
  }

  .description-group {
    height: 100%;
    transform: translateY(0);
  }
  
  .description-content {
    transform: translateY(100%);
    transition: transform 0.3s;
  }
  
  .max-w-xs:hover .description-content {
    transform: translateY(0);
  }

  .fade-appear {
    opacity: 0;
    transform: translateY(20px);
  }
  
  .fade-appear-active {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }

  .hidden_animation{
    opacity: 0;
    /* transform: translateY(20px); */
  }

  .show{
    opacity: 1;
    /* transform: translateY(0); */
    transition: opacity 500ms ease-in-out, transform 500ms ease-in-out;
  }
  
  /* .project-list{

  } */
  .skill-type-name{
    @apply md:text-2xl text-xl overflow-hidden hidden md:flex;
  }
}

*{
  scroll-behavior: smooth;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
  10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
  20% { transform: rotate(-8.0deg) }
  30% { transform: rotate(14.0deg) }
  40% { transform: rotate(-4.0deg) }
  50% { transform: rotate(10.0deg) }
  60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
  100% { transform: rotate( 0.0deg) }
}







/* fonts */

@font-face {
  font-family: 'SFProDisplayBold';
  src: url(./assets/fonts/SF-Pro-Display-Bold.ttf);
}
@font-face {
  font-family: 'SFProDisplayRegular';
  src: url(./assets/fonts/SF-Pro-Display-Regular.ttf);
}
@font-face {
  font-family: 'SFProDisplayLight';
  src: url(./assets/fonts/SF-Pro-Display-Light.ttf);
}

@font-face {
  font-family: 'SFProTextSemiBold';
  src: url(./assets/fonts/SF-Pro-Display-Semibold.ttf);
}

@font-face {
  font-family: 'SpaceGrotesk';
  src: url(./assets/fonts/SpaceGrotesk-VariableFont_wght.ttf);
}